# dependencies
node_modules

# output
dist
.output

# environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# caches
.cache
.fallow
.pnpm-store
.wrangler
*.tsbuildinfo

# generated and downloaded GIS data
.data

# IntelliJ based IDEs
.idea

# Finder (MacOS) folder config
.DS_Store

# playwrite
.playwright-mcp/
